<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Style/index.css" rel="stylesheet">
    <link href="../Style/header.css" rel="stylesheet">
    <link href="../Style/footer.css" rel="stylesheet">
    <link href="../Style/card.css" rel="stylesheet">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <title>Chaves Master Play</title>
</head>
<body>
    <section id="header">
        <script type="text/babel" src="../Components/header.jsx"></script>
    </section>
    

    <section id="conteudo">
        <script type="text/babel" src="../Components/card.jsx"></script>
    </section>

    <section id="footer">
        <script type="text/babel" src="../Components/footer.jsx"></script>
    </section>
</body>
</html>